a {
    text-decoration: none;
}

/* HEADER */
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color:#ffc404;
    color: rgb(66, 52, 28);
    box-shadow: 0px 3px 20px 3px rgba(0,0,0,0.5);
    width: 100%;
    top: 0;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    margin-right: 3rem;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(66, 52, 28);
    padding: 1rem;
}
.nav-social{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.redes a{
    text-decoration: none;
    color: rgba(83, 65, 36, 0.842);
    padding: 0.3rem;
}
.navbar-links li a:hover, .nav-social a:hover {
    text-shadow: 0 0 15px #ffffff;
    color: #000;
}

.toggle-button {
    position: absolute;
    top: 2.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(66, 52, 28);
    border-radius: 10px;
}

/*FORMULARIO DE CONTACTO*/

.body-form{
    box-sizing: border-box;
    padding: 2em;
    padding-top: 3em;
    width: 100%;
    margin: left;

}

.body-form h2{
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: .5em;
    color: #ffc404;
}

.body-form .content-form{
    margin: 0;
    padding: 1em;
    border: 2px solid;
    border-color: #ffc404a1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.295);
    width: 100%;
}

.body-form .content-form h5{
    padding-bottom: 0.5em;
}

.body-form .content-form form label{
	width:100px;
	font-weight: bold;
	display:inline-block;
}

.body-form .content-form form input[type="text"],
.body-form .content-form form input[type="email"],
.body-form .content-form form input[type="number"]{
	width: 60%;
    padding: .2em;
	border:1px solid #d6d6d6ef;
	border-radius:3px;
	background-color:#fff;
	margin:8px 0;
	display:inline-block;
}

.body-form .content-form form input[type="submit"]{
	width:100%;
	padding: .6em;
    margin-top:32px;
	border:1px solid #fff;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#ffc404;
} 

.body-form .content-form form input[type="submit"]:hover{
	cursor:pointer;
}

.body-form .content-form textarea{
	width:90%;
	height:100px;
	border:1px solid #d6d6d6ef;
	border-radius:3px;
	background-color:#ffff;			
	margin:8px 0;
    margin-left: 2em;
	resize:none;
	display:block;
}

.body-form .content-form input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  .body-form .content-form input:focus:invalid {
    box-shadow: none;
  }


/* FOOTER */
.pie-pagina{
    width: 100%;
    height: auto;
    background-color: #ffc404;
    
}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;

}

.pie-pagina .grupo1 .box figure img{
    height: 80px;
    margin: 10px;


}

.pie-pagina .grupo1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
    color:  rgb(66, 52, 28);

}

.pie-pagina .grupo1 .box ul{
    padding-left: 0;
}

.pie-pagina .grupo1 .box ul li{
    margin-bottom: 10px;
    list-style: none;
}

/*transicion al texto*/
.pie-pagina .grupo1 .box ul li a{
    color:  rgba(83, 65, 36, 0.842);
    text-decoration: none;
    transition: all 300ms ease;
}

.pie-pagina .grupo1 .box ul li a:hover{
    color:  rgb(66, 52, 28);
    text-shadow: 0 0 15px #ffffff;
}

.pie-pagina .grupo1 .box p{
    color: rgb(66, 52, 28);
}

/*transicion a los iconos*/
.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:  rgba(83, 65, 36, 0.842);
    margin-right: 10px;
    transition: all 300ms ease;

}

.pie-pagina .grupo1 .red-social a:hover{
    color:  rgb(66, 52, 28);
    font-weight: 30px;
    text-shadow: 0 0 15px #ffffff;
}

.pie-pagina .grupo2{
    padding: 15px;
    text-align: center;
    color:  rgb(66, 52, 28);
}

.pie-pagina .grupo2 small{
    font-size: 15px;
}

/* MEDIA QUERY & CSS BREAKPOINTS */

/* POR DEFECTO Large devices: Pantallas grandes (desktops, A PARTIR DE 1200px DE ANCHO) */

/* X-Small devices: Pantallas pequenias en vertical (portrait phones, HASTA 600px DE ANCHO) */
@media only screen and (max-width: 600px) {

    .pie-pagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px 0px;
    }

    .body-form{
        padding-top: 4em;
    
    }
}

/* Small devices: Pantallas pequenias en horizontal (landscape phones & tablets, HASTA 900px DE ANCHO) */
@media only screen and (max-width: 900px) {
    .pie-pagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px 0px;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        align-self: center;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul, .nav-social {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .nav-social{
        padding-top: 1rem;
        padding-left: 0;
    }

    .navbar-links.active {
        display: flex;
    }
}
