a {
    text-decoration: none;
}

/* HEADER */
header .dropdown-menu {
    border-width: 3px;
    border-color: #000;
    border-radius: 0;
}

header .dropdown-item:hover {
    background-color: rgba(255, 193, 7, 0.486);
    font-style: oblique;
}

/* MAIN */



/* FOOTER */

footer {
    background-color: rgb(255, 193, 7);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px;

}

#logo {
    height: 50px;
    margin: 10px;
}


footer ul {
    list-style: none;

}

footer .navbar-nav {
    flex-direction: row;
}

/* MEDIA QUERY & CSS BREAKPOINTS */

/*                mobile-first approach               */
/* POR DEFECTO X-Small devices: Pantallas pequenias en vertical (portrait phones, HASTA 576px DE ANCHO) */

/* Small devices: Pantallas pequenias en horizontal (landscape phones & tablets, A PARTIR DE 576px Y HASTA 991.98px DE ANCHO) */
@media only screen and (min-width: 576px) and (max-width: 991.98px) {}

/* Medium devices: Pantallas medianas (small desktops, A PARTIR DE 768px Y HASTA 1200px DE ANCHO) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

/* Large devices: Pantallas grandes (large desktops, A PARTIR DE 1200px DE ANCHO) */
@media only screen and (min-width: 1200px) {}