a {
    text-decoration: none;
}

/* HEADER */
header .navbar {
    box-shadow: 0px 3px 20px 3px rgba(0,0,0,0.5);
}

header a:hover{
    text-shadow: 0 0 15px #ffffff;
}

header .dropdown-menu {
    border-width: 3px;
    border-color: #000;
    border-radius: 0;
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.5);
}

header .dropdown-item:hover {
    background-color: #000;
    color: white;
}

/* MAIN */
main {
    padding-top: 5.5rem;
}

article {
    background-color: #ffffff;
    border: 3px solid #000;
    padding: 2rem;
    margin: 1rem;
}
/* FOOTER */

footer {
    background-color: rgb(255, 193, 7);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px;

}

#logo {
    height: 50px;
    margin: 10px;
}


footer ul {
    list-style: none;

}

footer .navbar-nav {
    flex-direction: row;
}

/* MEDIA QUERY & CSS BREAKPOINTS */

/*                mobile-first approach               */
/* POR DEFECTO X-Small devices: Pantallas pequenias en vertical (portrait phones, HASTA 576px DE ANCHO) */

/* Small devices: Pantallas pequenias en horizontal (landscape phones & tablets, A PARTIR DE 576px Y HASTA 991.98px DE ANCHO) */
@media only screen and (min-width: 576px) and (max-width: 991.98px) {}

/* Medium devices: Pantallas medianas (small desktops, A PARTIR DE 768px Y HASTA 1200px DE ANCHO) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {}

/* Large devices: Pantallas grandes (large desktops, A PARTIR DE 1200px DE ANCHO) */
@media only screen and (min-width: 1200px) {}