a {
    text-decoration: none;
}

/* HEADER */
header .navbar {
    box-shadow: 0px 3px 20px 3px rgba(0,0,0,0.5);
}

header a:hover{
    text-shadow: 0 0 15px #ffffff;
}

header .dropdown-menu {
    border-width: 3px;
    border-color: #000;
    border-radius: 0;
    box-shadow: 1px 5px 10px 2px rgba(0,0,0,0.5);
}

header .dropdown-item:hover {
    background-color: #000;
    color: white;
}

/*SEDES*/

section h2{
    text-align: center;
    padding-top: 3.5em;

}

section h4{
    text-align: center;
    padding-top: 0.5em;
}

#sedesMain{
    display: flex;
    justify-content: center;
}

#caballito, #microcentro{
    margin: 32px;
}

/* FOOTER */
.pie-pagina{
    width: 100%;
    height: auto;
    background-color: #ffc404;
    


}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;

}

.pie-pagina .grupo1 .box figure img{
    height: 80px;
    margin: 10px;


}

.pie-pagina .grupo1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
    color:  rgb(66, 52, 28);

}

.pie-pagina .grupo1 .box ul{
    padding-left: 0;
}

.pie-pagina .grupo1 .box ul li{
    margin-bottom: 10px;
    list-style: none;
}

/*transicion al texto*/
.pie-pagina .grupo1 .box ul li a{
    color:  rgba(83, 65, 36, 0.842);
    text-decoration: none;
    transition: all 300ms ease;
}

.pie-pagina .grupo1 .box ul li a:hover{
    color:  rgb(66, 52, 28);
    text-shadow: 0 0 15px #ffffff;
}

.pie-pagina .grupo1 .box p{
    color: rgb(66, 52, 28);
}

/*transicion a los iconos*/
.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:  rgba(83, 65, 36, 0.842);
    margin-right: 10px;
    transition: all 300ms ease;

}

.pie-pagina .grupo1 .red-social a:hover{
    color:  rgb(66, 52, 28);
    font-weight: 30px;
    text-shadow: 0 0 15px #ffffff;
}

.pie-pagina .grupo2{
    padding: 15px;
    text-align: center;
    color:  rgb(66, 52, 28);
}

.pie-pagina .grupo2 small{
    font-size: 15px;
}

/*Para que el footer quede responsive*/
@media screen and (max-width: 800px) {
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px 0px;
    }
    
}

/*Para que las sedes sean responsive*/
@media screen and (max-width:950px){
    #sedesMain{
        display: grid;
        justify-content: center;
    }
}


/* MEDIA QUERY & CSS BREAKPOINTS */

/*                mobile-first approach               */
/* POR DEFECTO X-Small devices: Pantallas pequenias en vertical (portrait phones, HASTA 576px DE ANCHO) */

/* Small devices: Pantallas pequenias en horizontal (landscape phones & tablets, A PARTIR DE 576px Y HASTA 991.98px DE ANCHO) */
@media only screen and (min-width: 576px) and (max-width: 991.98px) {
    main {
        background-color: red;
    }
}

/* Medium devices: Pantallas medianas (small desktops, A PARTIR DE 768px Y HASTA 1200px DE ANCHO) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    main {
        background-color: blue;
    }}

/* Large devices: Pantallas grandes (large desktops, A PARTIR DE 1200px DE ANCHO) */
@media only screen and (min-width: 1200px) {
    main {
        background-color: green;
    }}
